.query_mc_choice_table {display:none;}
/*
     FILE ARCHIVED ON 02:10:37 May 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:15:35 Nov 02, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.64
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.01
  esindex: 0.012
  cdx.remote: 6.445
  LoadShardBlock: 48.428 (3)
  PetaboxLoader3.datanode: 74.809 (4)
  load_resource: 220.045
  PetaboxLoader3.resolve: 190.147
*/